body{
    background-color: #d4d3cf;
    font-family: sans-serif;
    text-align: center;
    margin-left: auto;
margin-right: auto;
}
table{
    max-height: 100%;
}
font{

}
h1{
    font-weight: 800;
    font-size: 10vw;
    color: darkslategray;
}
h2{
    font-size: 8vw;
    color: darkslategray;
}
h3{
font-size: 6vw;
}
.content{
   text-decoration: underline;
   color: darkslategray;
}
p{
    font-size: 4vw;
}