.root {
   -fx-font-family: sans-serif;
   -fx-font-weight: bold;
}

.split-pane {
   -fx-font-family: sans-serif;
   -fx-font-weight: bold;
}

.split-pane-divider {
   -fx-background-color: transparent;
}

.combo-box {
   -fx-max-width: 150px;
}

.choice-box {
   -fx-max-width: 150px;
}

.button {
   -fx-max-width: 200px;
}

.button:hover {
   -fx-background-color: linear-gradient(#5F9EA0, #1E90FF);
   -fx-text-fill: white;
}