#google_translate_element{
  margin-left: auto;
  margin-right: auto;
  max-width: auto;
  max-height: 20px;
}

.goog-te-gadget{
  font-size: 0px !important;
  
}
.goog-te-gadget .goog-te-combo{
margin-left: auto;
  margin-right: auto;
}
a.goog-logo-link{
  content-visibility: hidden !important;
  font-size: 0px !important;
}
#google_translate_element img{
  content-visibility: hidden;
}

body{
    background-color: #d4d3cf;
    font-family: sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
}
.container{
    position: fixed;
    left: 10px;
    top: 40px;
    width: 40px;
    height: 40px;
}
.button1{
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: grey ;
    box-shadow: inset 0 0 0 0.1px darkslategrey;
    transition: 0.35s;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    
}
.button1 table{
  display: none;
}
.button1:hover table{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

.button1:hover{
  font-display: none;
  width: 170px;
  height: auto;
  box-shadow: inset 200px 0 0 0.1px darkslategrey;
  cursor: pointer;
  color: #000;
  display: inline-block;
  color: black;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s; 
}
a{
  color: white;
  font-size: 1.5vh;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
table{
    max-height: 100%;
}
h1{
    font-weight: 800;
    font-size: 10vw;
    color: darkslategray;
}
h2{
    font-size: 8vw;
    color: darkslategray;
}
h3{
font-size: 6vw;
}
.content{
   text-decoration: underline;
   color: darkslategray;
}
p{
    font-size: 4vw;
}